body {
    background-color: #87CEEB;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #1E90FF;
    padding: 20px;
}
.timeline {
    position: relative;
    max-width: 800px;
    margin: auto;
}
.timeline-item {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.timeline img {
    width: 100%;
    border-radius: 10px;
}
.date {
    font-size: 1.2em;
    font-weight: bold;
    color: #4682B4;
    margin-bottom: 5px;
}
.timeline video {
    width: 30%;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}
.next-button {
    background-color: #4682B4;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
}
.next-button:hover {
    background-color: #1E90FF;
}